<h1 class="text-center text-info">List Student Page</h1>
<div class="container col-md-6 " >
    <div class="card ">
        <div class="card-body ">
          <table class="table table-dark">
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Level</th>
                  <th>Profile</th>
                  <th>Action</th>
              </tr>
              <tr *ngFor="let student of allData">
                  <th> {{ student.id }} </th>
                  <th>{{ student.name }} </th>
                  <th>{{ student.level }} </th>
                  <th><img width="45" height="45" [src]="student.imgurl" alt=""></th>
                  <th><a routerLink="/updatastud/{{ student.id }}" class="btn btn-info">Edit</a></th>
                  <th><button (click)=" remove(student.id)" class="btn btn-danger">Remove</button></th>


              </tr>
          </table>
        </div>
    </div>
</div>
