
<h1 class="text-center text-info">Updata Teachers Page</h1>
<div class="container col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
             <label>Teachers Name</label>
                <input [(ngModel)]="object.name" type="text" #empname='ngModel' required  placeholder="Enter Your Name" class="form-control"> 
                <div *ngIf='empname.touched && empname.invalid' class="alert alert-danger">
                    Please Enter Valid Name
                </div>
            </div>
            <div class="form-group">
                <label>Teachers Position</label>
                   <input [(ngModel)]="object.position" type="text" #empposition='ngModel' required  placeholder="Enter Your Position" class="form-control"> 
                   <div *ngIf="empposition.touched && empposition.invalid" class="alert alert-danger">
                    Please Enter Valid Position
                </div>
               </div>
               <div *ngIf="empname.valid && empposition.valid">
                    <button (click)="updata()" class="btn btn-info btn-block w-50 mx-auto">Send Data</button>
               </div>
               <div *ngIf="empname.invalid && empposition.invalid">
                    <button disabled class="btn btn-info btn-block w-50 mx-auto">Send Data</button>
            </div>
              
        </div>
    </div>
</div>